/* 
.batteryCapsule {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #ddd;
  padding: 2px;
  display: flex;
  align-items: center

}

.batteryFill {
  height: 100%;
  background-color: #23e182;
  border-radius: 10px;
}

.batteryPercentage {
  font-size: 12px;
  margin-left: 5px;
} */












/* Battery.module.css */
.batteryCapsule {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #ddd;
  padding: 2px;
  display: flex;
  align-items: center;
}

.batteryFill {
  height: 100%;
  border-radius: 10px;                        
  background-image: linear-gradient(to right, #2ecc70d3 0%, #2ecc70cd 50%, #2ecc70ca 100%);
  background-size: var(--battery-width) 100%;
  background-position: 0% 100%;
}

.batteryPercentage {
  font-size: 12px;
  margin-left: 5px;
}